.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}
.btn {
  font-size: 20px;
  width: 20%;
  padding: 6px;
  margin-top: 50px;
  border-radius: 8px;
  border-color: rgb(226, 75, 75);
}
.btn:hover {
  background-color: rgb(226, 75, 75);
}
.button-block {
  display: block;
  position: relative;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
